@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #054e44;
    --bg-color: #fff;
    --bg-second-color: #f7f8f9;
    --bg-third-color: #f4f4f4;
    --bg-transparent-main: rgb(172 134 59 / 70%);
    --bg--green: #18a800;

    --text-color-dark-heading: #3a3d45;
    --text-color-light: #fff;
    --text-color-dark: #1b1c1f;
    --text-color-main: var(--main-color);

    --star-color: #ffb600;

    --border-main-color: .1rem solid var(--main-color);
    --border-white: : .1rem solid #fff;
    --border: .1rem solid #ccc;

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --box-shadow-whatsapp: 1px 1px 4px rgba(60, 60, 60, 0.4);
    --box-shadow-products: 0 6px 10px rgba(0, 0, 0, .2);
    --box-shadow-drop-down: 0 3px 4px rgba(0, 0, 0, .2);
    --box-shadow-green: 0 3px 5px rgb(24 168 0);

    --swiper-navigation-size: 2rem !important;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    padding: 5rem 3% 5rem;
}

.header-up,
.header-down {
    padding: 0 3%;
}

footer {
    padding: 2rem 3%;
}

a {
    cursor: pointer;
}

.space {
    height: 100vh;
}

.space.black {
    background-color: rgb(49, 42, 42);
}

.space.main {
    background-color: #054e44;
}

.space.white {
    background-color: rgb(245, 235, 235);
}

.btn {
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .3rem;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    /* background-color: var(--bg-color); */
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    transition: height 1s ease;
    height: 0rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: none;
}

.header-up .contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.header-up a {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    gap: .5rem;

}

.header-up a i {
    font-size: 2rem;
}


.header-up .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-up.active {
    transition: height 1s ease;
    height: max-content;
    display: flex;
}

.header-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#hamburg {
    font-size: 2.4rem;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar a {
    color: var(--main-color);
    transition: color .5s ease;
}

.navbar a:hover {
    color: var(--text-color-dark);
}

.hero {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    /* padding-top: 0; */
}

.hero .swiper {
    max-height: 100vh;
    height: 110vh;
}

.hero .swiper-slide {
    position: relative;
}

.hero .swiper-slide::after {
    position: absolute;
    background-color: #054e449a;
    inset: 0;
    content: ' ';
}

.hero .swiper-button-next,
.hero .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 55%);
    width: 4rem;
    height: 4rem;
    background-size: cover;
}

.hero .swiper-button-next:after,
.hero .swiper-button-prev:after {
    display: none;
}

.hero:hover .swiper-button-next {
    background: url('../img/arrow-right.png') no-repeat;
    background-size: contain;
}

.hero:hover .swiper-button-prev {
    background: url('../img/arrow-left.png') no-repeat;
    background-size: contain;
}

.hero:hover .swiper-button-next,
.hero:hover .swiper-button-prev {
    -moz-transition: all ease-in .4s;
    -ms-transition: all ease-in .4s;
    -o-transition: all ease-in .4s;
    -webkit-transition: all ease-in .4s;
    transition: all ease-in .4s;
}

/* responsive breakpoints less than 5200px  */
@media (width<=5200px) {
    html {
        font-size: 220%;
    }
}

@media (width<=5000px) {
    html {
        font-size: 200%;
    }
}

@media (width<=4500px) {
    html {
        font-size: 180%;
    }
}


@media (width<=4000px) {
    html {
        font-size: 160%;
    }
}

@media (width<=3500px) {
    html {
        font-size: 140%;
    }
}

@media (width<=3000px) {
    html {
        font-size: 120%;
    }
}

@media (width<=2500px) {
    html {
        font-size: 100%;
    }
}

@media (width<=2000px) {
    html {
        font-size: 80%;
    }
}

@media (width<=1500px) {
    html {
        font-size: 60%;
    }
}

@media (width<=1280px) {}

@media (width<=1200px) {
    html {
        font-size: 55%;
    }
}

@media (width<=1024px) {}

@media (width<992px) {
    html {
        font-size: 50%;
    }

    #hamburg {
        display: block;
    }

    .navbar {
        position: absolute;
        background-color: var(--bg-color);
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 88vh;
        padding-top: 1rem;
        border-top: var(--border-main-color);
        display: none;
        transform: translateY(-100%);
        transition: transform 1s ease;
        overflow-y: scroll;
        padding: 1rem;
        font-size: 1.6rem;
    }

    .navbar a {
        border-bottom: var(--border-main-color);
        width: 100%;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        transition: transform 1s ease;
        transform: translateY(0%);
    }

    .header-up .links {
        display: none;
    }
}

@media (width<=768px) {
    .header-up.active {
        display: none;
    }
}

@media (width<601px) {
    html {
        font-size: 48%;
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 380px) {}

@media only screen and (max-width: 330px) {}

@media only screen and (max-width: 320px) {}