@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* --main-color: #054e44; */
    --main-color: #128d7d;
    --bg-color: #fff;
    --bg-second-color: #f7f8f9;
    --bg-third-color: #f4f4f4;
    --bg-transparent-main: rgb(172 134 59 / 70%);
    --bg--green: #18a800;

    --text-color-dark-heading: #3a3d45;
    --text-color-light: #fff;
    --text-color-dark: #1b1c1f;
    --text-color-main: var(--main-color);

    --star-color: #ffb600;

    --border-main-color: .1rem solid var(--main-color);
    --border-white: : 0.1rem solid var(--bg-color);
    --border: .1rem solid #ccc;

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --box-shadow-whatsapp: 1px 1px 4px rgba(60, 60, 60, 0.4);
    --box-shadow-products: 0 6px 10px rgba(0, 0, 0, .2);
    --box-shadow-drop-down: 0 3px 4px rgba(0, 0, 0, .2);
    --box-shadow-green: 0 3px 5px rgb(24 168 0);

    --swiper-navigation-size: 2rem !important;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    padding: 5rem 3% 5rem;
}

.header-up,
.header-down {
    padding: 0 3%;
}

footer {
    padding: 2rem 3%;
}

a {
    cursor: pointer;
}

input,
select,
textarea {
    font-size: 1.4rem;
    padding: 1rem;
    width: 100%;
    border: var(--border-main-color);
    border-radius: .2rem;
}

.space {
    height: 100vh;
}

.space.black {
    background-color: rgb(49, 42, 42);
}

.space.main {
    background-color: #054e44;
}

.space.white {
    background-color: rgb(245, 235, 235);
}

.carosel-heading {
    font-size: 4rem;
    color: var(--text-color-light);
    font-weight: 600;
}

.carosel-heading-1 {
    font-size: 4rem;
    color: var(--text-color-light);
    font-weight: 500;
}

.carosel-text {
    font-size: 2rem;
    font-weight: 600;
}

.carosel-text-1 {
    font-size: 2rem;
    font-weight: 300;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    color: var(--text-color-dark);
}

.text {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
}

.broker-heading {
    font-size: 1.7rem;
    font-weight: 600;
}

.broker-text {
    font-size: 1.6rem;
}

.broker-heading-1 {
    font-size: 1.9rem;
    font-weight: 600;
}

.broker-text-1 {
    font-size: 1.4rem;
}

.footer-heading {
    font-size: 1.8rem;
}

.footer-text {
    font-size: 1.5rem
}

.btn {
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .3rem;
    border: .1rem solid;
    display: block;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.reverse {
    background-color: var(--text-color-light);
    color: var(--main-color);
    border: .1rem solid var(--main-color);
}

.btn-container {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.disable-pointer {
    pointer-events: none;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    /* background-color: var(--bg-color); */
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    transition: height 1s ease;
    height: 0rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: none;
}

.header-up .contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.header-up a {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    gap: .5rem;

}

.header-up a i {
    font-size: 2rem;
}


.header-up .links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-up.active {
    transition: height 1s ease;
    height: max-content;
    display: flex;
}

.header-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.logo {
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#hamburg {
    font-size: 2.4rem;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar a {
    color: var(--main-color);
    transition: color .3s ease, background-color .3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item .nav-dropdown a:hover {
    color: var(--text-color-light);
    background-color: var(--main-color);
}

.navbar-item {
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item>a {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-item .nav-dropdown {
    position: absolute;
    top: calc(100% + 1rem);
    background-color: var(--bg-color);
    width: max-content;
    display: grid;
    transition: visibility .1s ease-in-out;
    visibility: hidden;
    box-shadow: var(--box-shadow-drop-down);
}

.navbar-item .nav-dropdown>a {
    padding: 1rem 2rem;
    justify-content: start;
}

.navbar-item:hover .nav-dropdown {
    visibility: visible;
    transition: visibility .1s ease-in-out;
}

.header-down .btn {
    font-size: 1.5rem;
}

.hero {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    /* padding-top: 0; */
}

.hero .swiper {
    max-height: 100vh;
    min-height: 70rem;
    height: 110vh;
}

.hero .swiper-slide {
    position: relative;
}

.hero .swiper-slide::after {
    position: absolute;
    background-color: #054e449a;
    inset: 0;
    content: ' ';
}

.hero .swiper-slide .details {
    position: absolute;
    top: 8rem;
    z-index: 10;
    left: calc(3% + 5rem);
    right: calc(3%);
}

.hero .swiper-slide .details .plan {
    display: flex;
    gap: 4rem;
    color: var(--text-color-light);
    padding-top: 4rem;
    flex-wrap: wrap;
}

.hero .swiper-slide .details .plan .plan-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.hero .swiper-slide .details .plan .plan-item i {
    font-size: 2.5rem;
}

.hero .swiper-button-next,
.hero .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 55%);
    width: 4rem;
    height: 4rem;
    background-size: cover;
}

.hero .swiper-button-next:after,
.hero .swiper-button-prev:after {
    display: none;
}

.hero:hover .swiper-button-next {
    background: url('../img/arrow-right.png') no-repeat;
    background-size: contain;
}

.hero:hover .swiper-button-prev {
    background: url('../img/arrow-left.png') no-repeat;
    background-size: contain;
}

.hero:hover .swiper-button-next,
.hero:hover .swiper-button-prev {
    -moz-transition: all ease-in .4s;
    -ms-transition: all ease-in .4s;
    -o-transition: all ease-in .4s;
    -webkit-transition: all ease-in .4s;
    transition: all ease-in .4s;
}

.hero-form {
    position: absolute;
    top: 48rem;
    z-index: 10;
    left: calc(3% + 5rem);
    right: calc(3% + 5rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-form .carosel-text-1 {
    color: var(--text-color-light);
}

.hero-form form {
    background-color: var(--bg-color);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    max-width: 110rem;
}

.hero-form form .form-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.hero-form form .form-box {
    display: flex;
    gap: 1rem;
}

.hero-form form button {
    width: 100%;
    cursor: pointer;
}

/* Catergoy Property section */
.categoires-property {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.category-item {
    background-color: var(--bg-third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: .5rem;
    transition: background-color .3s ease;
    border: var(--border-main-color);
    box-shadow: var(--box-shadow-products);
}

.category-item:hover {
    background-color: var(--main-color);
}

.category-item p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-dark);
    transition: color .3s ease;
}

.category-item:hover p {
    color: var(--bg-color);
}

.category-item span {
    background-color: var(--main-color);
    border-radius: 100%;
    width: 13rem;
    height: 13rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: var(--border-main-color);
    border-color: var(--bg-third-color);
}

.category-item span img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    filter: invert(100%);
}

/* property section */
.villas-sale {
    background-color: var(--bg-second-color);
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem 0;
}

.property-item {
    height: max-content;
    color: var(--text-color-dark);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    border-radius: 1rem;
    transition: box-shadow .3s ease, transform .1s ease;
}

.property-item:hover {
    box-shadow: var(--box-shadow-products);
    /* transform: scale(1.02); */
}

.property-item img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.property-detail {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

.property-detail .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-detail h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.property-detail p {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.property-detail .line p {
    font-weight: 600;
}

.property-detail .line p i {
    font-size: 2rem;
}

.property-detail>p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  Dubai Areas section */
.dubai-area {
    background-color: var(--bg-third-color);
}

.dubai-area>.text {
    padding-bottom: 1rem;
}

.dubai-area-container {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dubai-area-container>* {
    max-width: 110rem;
    width: 100%;
    box-shadow: var(--box-shadow-products);
}

.dubai-area-container .head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    background-color: var(--bg-color);
}

.dubai-area-container .head-item {
    border: var(--border-main-color);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem .5rem;
    width: 100%;
    font-weight: 600;
    border-width: .2rem;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
    user-select: none;
}

.dubai-area-container .head-item:hover {
    background-color: var(--main-color);
    color: var(--text-color-light);
    /* border-color: var(--text-color-light); */
}

.dubai-area-container .head-item.active {
    background-color: var(--main-color);
    color: var(--text-color-light);
    /* border-color: var(--text-color-light); */
}

.dubai-area-container .body-item {
    display: none;
    position: relative;
}

.dubai-area-container .body-item img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position: center;
}

.dubai-area-container .body-item::after {
    position: absolute;
    content: '';
    background-color: #054e4465;
    inset: 0;
    z-index: 1;
}

.dubai-area-container .body-item.active {
    display: block;
}

.dubai-area-container .body-item .details {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    z-index: 10;
}

.dubai-area-container .body-item .details .carosel-text {
    color: var(--text-color-light);
}

/* Apartment rent */
.apartment-rent {
    background-color: var(--bg-third-color);
}

/* Broker section */

#brokers-carosel {
    padding-top: 2rem;
}

.broker-item {
    border: var(--border-main-color);
    border-radius: .5rem;
    cursor: grab;
    user-select: none;
}

.broker-item.postcode {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.broker-item.postcode .logo-broker {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 80%;
    align-self: center;
}

.logo-broker img {
    width: 100%;
    height: 100%;
}

.broker-item.postcode .broker-text {
    padding-bottom: 5rem;
}

.broker-item.postcode form {
    padding: 1rem 0 1rem;
}

.broker-item .head {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    justify-content: center;
    gap: 1rem;
}

.broker-item .head img {
    width: 3rem;
}

.broker-item .head .broker-heading {
    color: var(--text-color-light);
}

.broker-item .body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.broker-item .body .profile {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    border: var(--border-main-color);
}

.broker-item .broker-text {
    color: grey;
}

.broker-item .body .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.broker-item .body .broker-text.place {
    padding: 1rem 0;
}

.broker-item .body a.broker-text {
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.broker-item .btn {
    width: 100%;
}

/* happy-clients section */
.happy-clients {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-clients .heading {
    text-align: center;
    max-width: 70rem;
    color: var(--text-color-light);
}

.happy-clients>.text {
    text-align: center;
    max-width: 70rem;
    color: var(--text-color-light);
}

#clients-carosel {
    padding: 4rem 0;
}

#clients-carosel .swiper-slide {
    border-radius: 1rem;
}

#clients-carosel .swiper-button-prev,
#clients-carosel .swiper-button-next {
    color: var(--bg-third-color);
}

.client-item {
    background-color: var(--main-color);
    opacity: 0.9;
    padding: 2rem 2rem;
    border-radius: .5rem;
    color: var(--text-color-light);
}

.client-item .broker-heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem;
}

.client-item .text.date {
    margin: 1rem 0;
}

/* Our Partners section */

.partners {
    text-align: center;
}

.partners .heading {
    padding-top: 1rem;
}

#partners-swiper {
    padding: 2rem 0;
}

#partners-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: var(--border);
}

#partners-swiper .swiper-slide img {
    width: 100%;
    height: 14rem;
    object-fit: contain;
}

/* Footer section */
.footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logo-footer {
    height: 8rem;
    width: max-content;
}

.logo-footer img {
    height: 100%;
    object-fit: contain;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer-item {
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-item .footer-text {
    transition: transform .3s ease;
    cursor: pointer;
}

.footer-item .footer-text:hover {
    transform: translateX(1rem);
}

.footer-heading {
    border-bottom: var(--border);
    padding-bottom: 1rem;
}

.footer-item a {
    color: var(--text-color-light);
}

/* Buy page */

.banner {
    padding: 0;
    padding-top: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 34rem;
    object-fit: cover;
}

.banner::after {
    position: absolute;
    background-color: #054e449a;
    inset: 0;
    content: ' ';
}

.banner .content {
    z-index: 10;
    position: absolute;
    top: 50%;
}

.buy-detail-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: var(--bg-third-color);
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.buy-detail-item {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 4rem;
}

.buy-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
    padding: 2rem 0;
}

.buy-grid>.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buy-grid>.right {
    padding: 0 3rem;
    position: relative;
}

.sticky-buy {
    position: sticky;
    top: calc(7rem + 1rem);
}

.property-buy-item-1 {
    border: var(--border);
    border-radius: 1rem;
}

.property-buy-item-1 img {
    width: 100%;
    height: 20rem;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.property-buy-item-1 .details {
    padding: .5rem;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.property-searches {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding-top: 2rem;
}

.property-searches a {
    color: var(--text-color-dark);
}

.property-searches a:hover {
    text-decoration: underline;
}

.property-buy-item .broker-text-1,
.property-buy-item .broker-text {
    color: grey;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.property-buy-item i {
    font-size: 2rem;
}

.property-buy-item {
    border: var(--border);
    border-radius: 1rem;
}

.property-buy-item>.up {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: flex;
    gap: 1rem;
}

.property-buy-item>.down {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    padding: .5rem 1rem;
    background-color: var(--bg-third-color);
    gap: 1rem;
    justify-content: end;
}

.property-buy-item>.down .btn {
    padding: 1rem;
    transition: color .2s ease, background-color .2s ease;
}

.property-buy-item>.down .btn:hover {
    background-color: var(--main-color);
    color: var(--text-color-light);
}

.property-buy-item>.up>.left {
    width: 35%;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

.property-buy-item>.up>.right {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-buy-item>.up>.right>.up {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.property-buy-item>.up>.right>.down {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.property-buy-item>.up>.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
}

/* property-for-sale */
.property-for-sale {
    background-color: var(--bg-third-color);
}

.property-for-sale p {
    padding-bottom: 1.5rem;
    color: var(--text-color-dark-heading);
    text-align: justify;
}


/* responsive breakpoints less than 5200px  */

@media (width<=5200px) {
    html {
        font-size: 220%;
    }
}

@media (width<=5000px) {
    html {
        font-size: 200%;
    }
}

@media (width<=4500px) {
    html {
        font-size: 180%;
    }
}

@media (width<=4000px) {
    html {
        font-size: 160%;
    }
}

@media (width<=3500px) {
    html {
        font-size: 140%;
    }
}

@media (width<=3000px) {
    html {
        font-size: 120%;
    }
}

@media (width<=2500px) {
    html {
        font-size: 100%;
    }
}

@media (width<=2000px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1500px) {
    html {
        font-size: 68%;
    }

    .hero .swiper-slide .details {
        top: 18rem;
    }

    .hero-form form {
        max-width: 135rem;
    }

    .hero-form {
        top: 64rem;
    }

    .property-buy-item-1 img {
        height: 30rem;
    }
}

@media (width<=1500px) {
    html {
        font-size: 60%;
    }
}

@media (width<=1280px) {}

@media (width<=1200px) {
    html {
        font-size: 53%;
    }
}

@media (width<=1024px) {
    html {
        font-size: 51%;
    }

    /* property section */
    .property-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (width<992px) {
    html {
        font-size: 50%;
    }

    #hamburg {
        display: block;
    }

    .navbar {
        position: absolute;
        background-color: var(--bg-color);
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        min-height: calc(100vh - 5rem);
        padding-top: 1rem;
        border-top: var(--border-main-color);
        display: none;
        transform: translateY(-100%);
        transition: transform 1s ease;
        overflow-y: scroll;
        padding: 1rem;
        font-size: 1.6rem;
        overflow-y: scroll;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar a {
        border-bottom: var(--border-main-color);
        width: 100%;
        justify-content: start;
    }

    .navbar-item:hover .nav-dropdown {
        visibility: hidden;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        transition: transform 1s ease;
        transform: translateY(0%);
    }

    .navbar-item {
        height: 100%;
        flex-direction: column;
    }

    .navbar-item>a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-item .nav-dropdown.active {
        position: static;
        visibility: visible;
        z-index: 10;
        width: 100%;
        padding: 1rem;
        border: var(--border-main-color);
        border-top: none;
        transition: none;
        background-color: var(--main-color);
    }

    .navbar-item .nav-dropdown.active a {
        color: var(--bg-color);
    }

    .header-up .links {
        display: none;
    }

    /* Category section */
    .categoires-property {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width<=768px) {
    .header-up.active {
        display: none;
    }

    .hero-form form .form-line {
        grid-template-columns: repeat(2, 1fr);
    }

    /* property section */
    .property-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    /* Duabi Area section */
    .dubai-area-container .head {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Footer section */
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Buy page */
    .buy-detail-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .buy-grid {
        grid-template-columns: 100%;
    }

    .property-buy-item-1 img {
        height: 100%;
    }
}

@media (width<601px) {
    html {
        font-size: 48%;
    }

    .carosel-heading {
        font-size: 3rem;
    }

    .carosel-heading-1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .carosel-heading {
        font-size: 2.5rem;
    }

    .carosel-heading-1 {
        font-size: 2.5rem;
    }

    /* .hero-form {
        top: 40rem;
    } */

    .hero-form form .form-line {
        grid-template-columns: repeat(1, 1fr);
    }

    /* property section */
    .property-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    /* Footer section */
    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Buy Page */

    .banner img {
        height: 27rem;
    }

    .property-buy-item>.up {
        flex-direction: column;
    }

    .property-buy-item>.up>.left {
        width: 100%;
    }

    .property-buy-item>.up>.right {
        width: 100%;
        gap: 1rem;
    }

    .property-buy-item>.down {
        gap: .3rem;
        justify-content: space-between;
    }

    .property-buy-item>.up>.left {
        border-top-right-radius: inherit;
    }

    .property-buy-item>.up>.left img {
        border-top-right-radius: inherit;
    }
}

@media only screen and (max-width: 414px) {
    .hero .swiper-slide .details {
        left: calc(2rem);
        right: calc(2rem);
    }

    .hero:hover .swiper-button-next,
    .hero:hover .swiper-button-prev {
        display: none;
    }

    .hero-form {
        left: calc(2rem);
        right: calc(2rem);
    }

    /* Category section */
    .categoires-property {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 380px) {

    .heading {
        font-size: 2rem;
    }

    .hero .swiper-slide .details {
        top: 4rem;
    }

    .hero .swiper-slide .details .plan {
        gap: 2rem;
    }

    .hero .swiper {
        min-height: 87rem;
    }

    .hero-form {
        top: 48rem;
    }

    /* Duabi Area section */
    .dubai-area-container .head {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Buy Page */
    .banner img {
        height: 22rem;
    }
}

@media only screen and (max-width: 330px) {}

@media only screen and (max-width: 320px) {}